{% extends 'pageTemplate.html.twig' %}

{% block page %}
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('app_homepage')}}">Accueil</a></li>
      <li class="breadcrumb-item active">{{ category }}</li>
   </ol>
   <div class="card px-4 mb-3">
      <div class="jumbotron jum-cat">
         <h1 class="display-4 text-center">{{ category }}</h1>
      </div>
      <div class="row">
         <div class="col-sm-3 bg-light border-right">
            {% include 'app/components/aside.html.twig' %}
         </div>
         <div class="col-sm-9">
            <div class="card-group card-1" id="filtered-list">
               {% for recipe in recipes %}
                   {% include 'app/components/recipeCard.html.twig' with {'recipe': recipe, 'col': 'col-4' } %}
               {% endfor %}    
            </div>
         </div>
      </div>
   </div>    
{% endblock %}