{% extends 'app/appTemplates/adminNavbar.html.twig' %}

{% block tab %}
	<div class="container card bg-white p-3 mb-3"><div class="container">
		<h2 class="pt-3 mb-4 recipe">2 commentaires</h2>
		<div class="list-group-item ">
			<div class="d-flex w-100 justify-content-between my-2">
				<h3 class="recipe-3">Sirius</h3>
				<small class="text-muted">Il y a quelques secondes</small>
			</div>
			<p class="mb-2">plop
			</p>
			<div class="row justify-content-end">
				<button class="btn btn-outline-success btn-sm mr-3">Valider</button>
				<button class="btn btn-outline-danger btn-sm mr-3">Modérer</button>
			</div>
		</div>
		<div class="list-group-item ">
			<div class="d-flex w-100 justify-content-between my-2">
				<h3 class="recipe-3">Sirius</h3>
				<small class="text-muted">Il y a quelques secondes</small>
			</div>
			<p class="mb-2">plop plop</p>
			<div class="row justify-content-end">
				<button class="btn btn-outline-success btn-sm mr-3">Valider</button>
				<button class="btn btn-outline-danger btn-sm mr-3">Modérer</button>
			</div>
		</div>
	</div>
</div>{% endblock %}
