{% extends 'app/appTemplates/userNavbar.html.twig' %}

{% block tab %}
	<div class="container card bg-white p-3 mb-3">
		<div class="container">
			<h2 class="pt-3 mb-4 recipe">Mes recettes</h2>
			<ul class="list-group">
                {% for recipe in recipes %}
                    <div class="row">
                        <div class="col-10">
                            <a href={{ path('app_recipe', { 'categorySlug': recipe.category.slug, 'recipeSlug': recipe.slug, 'recipe': recipe.id }) }}>
                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>{{ recipe.name }}</span>
                                    {% include 'app/components/hearts.html.twig' with {'likes': recipe.likes } %}
                                    <span>0 Commentaires</span>
                                    {% if recipe.isDraft %}
                                        <span class="badge badge-secondary mx-1">Brouillon</span>
                                    {% else %}
                                        <span class="badge badge-primary mx-1">En ligne</span>
                                    {% endif %}  
                                </li>
                            </a>
                        </div>
                        <div class="col-2 align-self-center">
                            <a href={{ path('recipe_edit', { 'recipe': recipe.id }) }} class="btn btn-primary">modifier</a>
                        </div>
                    </div>
                {% endfor %}   
			</ul>
		</div>
	</div>
{% endblock %}
