<aside>
    <form class="form-inline my-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"aria-hidden="true"></i></span>
            </div>
            <input type="text" id="recipeName-filter" class="form-control" placeholder="Rechercher" name="Rechercher" value="">
        </div>
    </form>
    <form>
        <h2 class="mt-4">Filtrer par:</h2>
            <div class="form-check mx-3">
                <input class="form-check-input" type="checkbox" name="Vegan" id="Vegan">
                <label class="form-check-label"for="Vegan">Vegan</label>
            </div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="Végetarien" id="Végetarien"><label class="form-check-label"
                                                for="Végetarien">Végetarien</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="gluten free" id="gluten free"><label class="form-check-label"
                                                for="gluten free">gluten free</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="Patisserie" id="Patisserie"><label class="form-check-label"
                                                for="Patisserie">Patisserie</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="soupe" id="soupe"><label class="form-check-label"
                                                for="soupe">soupe</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="cocktail" id="cocktail"><label class="form-check-label"
                                                for="cocktail">cocktail</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="detox" id="detox"><label class="form-check-label"
                                                for="detox">detox</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="manger" id="manger"><label class="form-check-label"
                                                for="manger">manger</label></div>
                                    <div class="form-check mx-3
            "><input class="form-check-input" type="checkbox" name="tag" id="tag"><label class="form-check-label"
            for="tag">tag</label></div><button type="submit"
            class="btn btn-primary my-4">Filtrer</button><button type="button"
            class="btn btn-link">Vider les filtres</button>
    </form>
</aside>