<aside>
    <form class="form-inline my-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"aria-hidden="true"></i></span>
            </div>
            <input type="text" id="recipeName-filter" class="form-control" placeholder="Rechercher" name="Rechercher" value="">
        </div>
    </form>
    <form>
        <h2 class="mt-4">Filtrer par:</h2>

        {% for tag in tags %}
             <div class="form-check mx-3">
                <input class="form-check-input tag-filter" type="checkbox" name={{ tag.name}} value={{ tag.name}}>
                <label class="form-check-label"for="Vegan">{{ tag.name}}</label>
            </div>
        {% endfor %}

        <button type="button" class="btn btn-link mt-3" id="clear-filter">Vider les filtres</button>
    </form>
</aside>