<div class="row">
    <div class="col-12 text-center">
        {% if likes is empty %}
             {% set likeAvg = 0 %}  
        {% else %}
            {% set count = 0 %}
            {% for like in likes %}
                {% set count = count + like.record %}
            {% endfor %}
            {% set likeAvg = count/(likes|length) %}  
        {% endif %}
        {% for i in 1..5 %}
                <i class="{{ i > likeAvg ? 'far' : 'fas' }} fa-heart text-danger mx-1" aria-hidden="true"></i>
        {% endfor %}                
    </div>
</div>