{% extends 'app/appTemplates/pageTemplate.html.twig' %}

{% block page %}
	<div class="card px-4 mb-3">
		{% include 'app/components/jumbotron.html.twig' with {'title': ['Bienvenue ',app.user.name]|join(' ') } %}
		<ul class="nav justify-content-center mb-2">
			<li class="nav-item">
				<a class="nav-link pointer active">Recettes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link pointer">Commentaires</a>
			</li>
			<li class="nav-item">
				<a class="nav-link pointer">Infos</a>
			</li>
		</ul>
		{% block tab %}{% endblock %}
	</div>
{% endblock %}
