{% extends 'app/appTemplates/pageTemplate.html.twig' %}

{% block page %}
	<div class="card px-4 mb-3">
		{% include 'app/partials/jumbotron.html.twig' with {'title': ['Bienvenue ',app.user.name]|join(' ') } %}
		<ul class="nav justify-content-center mb-2">
			<li class="nav-item">
				<a href={{ path('user_recipes') }} class="nav-link pointer {% if current_menu is defined and current_menu =='user' %}active{% endif %}">Recettes</a>
			</li>
			<li class="nav-item">
				<a href={{ path('user_comments') }} class="nav-link pointer {% if current_menu is defined and current_menu =='comments' %}active{% endif %}">Commentaires</a>
			</li>
			<li class="nav-item">
				<a href={{ path('user_data') }} class="nav-link pointer {% if current_menu is defined and current_menu =='data' %}active{% endif %}">Infos</a>
			</li>
		</ul>
		{% block tab %}{% endblock %}
	</div>
{% endblock %}
