{% extends 'pageTemplate.html.twig' %}

{% block page %}
	<div class="card px-4 mb-3">
		{% include 'app/components/jumbotron.html.twig' with {'title': 'Page non trouvée' } %}
	</div> 
{% endblock %}
